.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.wrapper h1 {
  text-transform: capitalize;
}
.barChart {
  width: 350px;

  height: 250px;
}
