.wrapper {
  background-color: var(--color-primary2);
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.wrapper table,
th,
td {
  border: 1px solid var(--color-black);
  border-collapse: collapse;
  padding: 0.5rem;
}

.wrapper thead {
  background-color: var(--color-primary3);
}

.cell {
  display: inline-block;
  width: 70px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.img {
  text-align: center;
}
.id {
  text-align: center;
}
.sold {
  text-align: center;
}

.price {
  text-align: center;
}

@media screen and (min-width: 786px) {
  .cell {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .cell {
    width: 250px;
  }
}
