.wrapper {
  background-color: var(--color-white);
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.wrapper table,
th,
td {
  border: 1px solid var(--color-black);
  border-collapse: collapse;
  padding: 0.5rem;
}

span {
  display: inline-block;
  width: 70px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media screen and (min-width: 786px) {
  span {
    width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  span {
    width: 300px;
  }
}
