:root {
  /* Global variables to be defined here */
  --color-white: #ffffff;
  --color-primary1: #9cc5ff;
  --color-primary2: #3bb6fe;
  --color-primary3: #6f85ff;
  --color-secondary1: #9c7ffe;
  --color-secondary2: #a666fe;
  --color-secondary3: #9097ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background: var(--color-primary1);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
